.p {
    background-image: url("../img/svg.png");
}

/* 隐藏 Chrome、Safari 和 Opera 的滚动条 */
.example::-webkit-scrollbar {
    display: none;
  }
  
  /* 隐藏 IE、Edge 和 Firefox 的滚动条 */
  .example {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }